{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} : Annuler une sortie {% endblock title %}

{% block body %}
    <h5 class="text-end">Organisateur : {{ app.user.prenom }} {{ app.user.nom  }}</h5>
    <h2 class="text-center">Annuler une sortie</h2>
    {% form_theme formAnnulationSortie 'bootstrap_4_layout.html.twig' %}
    <div class="row justify-content-center">
        <div class="col col-7 justify-content-center border rounded-3 border-3 border-primary p-2">
            Nom : {{ sortie.nom }}<br><br>
            Date de la sortie : {{ sortie.dateHeureDebut | date}}<br><br>
            Campus : {{ sortie.campus.nom }}<br><br>
            Lieu : {{ sortie.lieu.rue }}<br><br>
            {{ form_start(formAnnulationSortie) }}
                <div class="row ">
                    <div class="col">
                        <div class="mb-3">{{ form_row(formAnnulationSortie.motifannulation) }}</div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col ">
                        {{ form_widget(formAnnulationSortie.submit) }}
                        <a href="{{ url('sortie_index') }}" class="btn btn-outline-info mx-3">Retour</a>
                    </div>
                </div>
            {{ form_end(formAnnulationSortie) }}

        </div>
    </div>
{% endblock %}