{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} : Créer une sortie {% endblock title %}

{% block body %}

    <h2>Créer une sortie</h2><h5>Organisteur : {{ app.user.prenom }} {{ app.user.nom  }}</h5><br>

    {% form_theme formCreateSortie 'bootstrap_4_horizontal_layout.html.twig' %}

    {{ form_start(formCreateSortie) }}

    <div class="container border border-dark">
        <div class="row ">
             <div class="col">
                <div class="mb-3">
                    {{ form_label(formCreateSortie.nom) }}
                    {{ form_widget(formCreateSortie.nom) }}
                    {{ form_errors(formCreateSortie.nom) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.dateHeureDebut) }}
                    {{ form_widget(formCreateSortie.dateHeureDebut) }}
                    {{ form_errors(formCreateSortie.dateHeureDebut) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.dateLimiteInscription) }}
                    {{ form_widget(formCreateSortie.dateLimiteInscription) }}
                    {{ form_errors(formCreateSortie.dateLimiteInscription) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.nbInscriptionMax) }}
                    {{ form_widget(formCreateSortie.nbInscriptionMax) }}
                    {{ form_errors(formCreateSortie.nbInscriptionMax) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.duree) }}
                    {{ form_widget(formCreateSortie.duree) }}
                    {{ form_errors(formCreateSortie.duree) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.infosSortie) }}
                    {{ form_widget(formCreateSortie.infosSortie) }}
                    {{ form_errors(formCreateSortie.infosSortie) }}
                </div>
             </div>

            <div class="col">
                <div class="mb-3">
                    {{ form_label(formCreateSortie.campus) }}
                    {{ form_widget(formCreateSortie.campus) }}
                    {{ form_errors(formCreateSortie.campus) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.ville) }}
                    {{ form_widget(formCreateSortie.ville) }}
                    {{ form_errors(formCreateSortie.ville) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.lieu) }}
                    {{ form_widget(formCreateSortie.lieu) }}
                    {{ form_errors(formCreateSortie.lieu) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.rue) }}
                    {{ form_widget(formCreateSortie.rue) }}
                    {{ form_errors(formCreateSortie.rue) }}
                </div>

                <div class="mb-3">
                    {{ form_label(formCreateSortie.cpo) }}
                    {{ form_widget(formCreateSortie.cpo) }}
                    {{ form_errors(formCreateSortie.cpo) }}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col ">
                {{ form_widget(formCreateSortie.submit) }}
                {{ form_widget(formCreateSortie.publier) }}
                {{ form_widget(formCreateSortie.annuler) }}
            </div>
        </div>
    </div>

{% endblock body %}