{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} : Créer une sortie {% endblock title %}

{% block body %}

    <h2>Créer une sortie</h2><h5>Organisateur : {{ app.user.prenom }} {{ app.user.nom  }}</h5><br>

    {% form_theme formCreateSortie 'bootstrap_4_horizontal_layout.html.twig' %}

    {{ form_start(formCreateSortie) }}

    <div class="container border border-dark">
        <div class="row ">
             <div class="col">
                <div class="mb-3">
                    {{ form_label(formCreateSortie.nom) }}
                    {{ form_widget(formCreateSortie.nom) }}
                    {{ form_errors(formCreateSortie.nom) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.dateheuredebut) }}
                    {{ form_widget(formCreateSortie.dateheuredebut) }}
                    {{ form_errors(formCreateSortie.dateheuredebut) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.datelimiteinscription) }}
                    {{ form_widget(formCreateSortie.datelimiteinscription) }}
                    {{ form_errors(formCreateSortie.datelimiteinscription) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.nbinscriptionmax) }}
                    {{ form_widget(formCreateSortie.nbinscriptionmax) }}
                    {{ form_errors(formCreateSortie.nbinscriptionmax) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.duree) }}
                    {{ form_widget(formCreateSortie.duree) }}
                    {{ form_errors(formCreateSortie.duree) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.infossortie) }}
                    {{ form_widget(formCreateSortie.infossortie) }}
                    {{ form_errors(formCreateSortie.infossortie) }}
                </div>
             </div>

            <div class="col">
                <div class="mb-3">
                    {{ form_label(formCreateSortie.campus) }}
                    {{ form_widget(formCreateSortie.campus) }}
                    {{ form_errors(formCreateSortie.campus) }}
                </div>
                <div class="mb-3">
                    {{ form_label(formCreateSortie.ville) }}
                    {{ form_widget(formCreateSortie.ville) }}
                    {{ form_errors(formCreateSortie.ville) }}
                </div>
                <div id="choixLieu" class="mb-3">
                    {{ form_label(formCreateSortie.lieu) }}
                    <div id="lieuChoisi" onselect="test();">
                    {{ form_widget(formCreateSortie.lieu) }}
                    </div>
                    {{ form_errors(formCreateSortie.lieu) }}<br>
{#                    <a href="{{ url('lieu_create') }}" class="btn-primary btn">Ajouter un Lieu</a>#}

                    <a  href="#" class="btn-primary btn">Ajouter un Lieu</a>
                </div>

        </div>
        <div class="row text-center">
            <div class="col ">
                {{ form_widget(formCreateSortie.submit) }}
                {{ form_widget(formCreateSortie.publier, {"attr" : {'formaction' : path('sortie_create_published') }}) }}
                <a href="{{ url('sortie_index') }}" class="btn btn-secondary">Annuler</a>
            </div>
        </div>
    </div>

    {{ form_end(formCreateSortie) }}
{% endblock body %}


{% block javascripts %}
      <script >
             function test(){
              e = document.getElementById("lieuChoisi").value;

                alert(e);

              }


   </script>
{% endblock javascripts %}