{% extends 'base.html.twig' %}

{% block body %}

<h2 class="text-center">Ajouter une ville</h2>

    {% form_theme formVille 'bootstrap_4_layout.html.twig' %}

    {{ form_start(formVille) }}
    <div class="row justify-content-center">
        <div class="col col-7 justify-content-center border rounded-3 border-3 border-primary p-2">
            <div class="mb-3">{{ form_row(formVille.nom) }}</div>
            <div class="mb-3">{{ form_row(formVille.codePostal) }}</div>
            <div class="row text-center">
                <div class="col">
                    {{ form_widget(formVille.submit) }}
                    <a href="{{ url('lieu_create') }}" class="btn btn-outline-info">Retour</a>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(formVille) }}


{% endblock %}