{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} : Modifier mon profil {% endblock title %}

{% block body %}

    <h2>Modifier mon profil</h2>

    {% form_theme formUser 'bootstrap_4_horizontal_layout.html.twig' %}

    {{ form_start(formUser) }}

    <div class="container border border-dark">
        <div class="mb-3">
            {{ form_label(formUser.pseudo) }}
            {{ form_widget(formUser.pseudo, {'attr': {'class': 'bg-light'}}) }}
            {{ form_errors(formUser.pseudo) }}
        </div>
        <div class="mb-3">
            {{ form_label(formUser.prenom) }}
            {{ form_widget(formUser.prenom, {'attr': {'class': 'bg-light'}}) }}
            {{ form_errors(formUser.prenom) }}
        </div>
        <div class="mb-3">
            {{ form_label(formUser.nom) }}
            {{ form_widget(formUser.nom, {'attr': {'class': 'bg-light'}}) }}
            {{ form_errors(formUser.nom) }}
        </div>
        <div class="mb-3">
            {{ form_label(formUser.telephone) }}
            {{ form_widget(formUser.telephone, {'attr': {'class': 'bg-light'}}) }}
            {{ form_errors(formUser.telephone) }}
        </div>
        <div class="mb-3">
            {{ form_label(formUser.email) }}
            {{ form_widget(formUser.email, {'attr': {'class': 'bg-light'}}) }}
            {{ form_errors(formUser.email) }}
        </div>
        <div class="mb-3">
            {{ form_label(formUser.password) }}
            {{ form_widget(formUser.password) }}
            {{ form_errors(formUser.password) }}
        </div>
        <div class="mb-3">
            {{ form_label(formUser.campus) }}
            {{ form_widget(formUser.campus, {'attr': {'class': 'bg-light'}}) }}
            {{ form_errors(formUser.campus) }}
        </div>

        <div class="mb-3">
            {{ form_widget(formUser.submit) }}
        </div>

        <div class="mb-3">
            <a href="{{ url('sortie_index') }}" class="btn btn-secondary">Annuler</a>
        </div>
    </div>

    {{ form_end(formUser) }}

{% endblock %}