{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} : Mon profil {% endblock title %}

{% block body %}

    <h2>Mon profil</h2>

    {% form_theme formUser 'bootstrap_4_layout.html.twig' %}

    {{ form_start(formUser) }}

        <div class="container border border-dark">
            <div class="row ">
                <div class="col">
                    <div class="mb-3">{{ form_row(formUser.pseudo) }}</div>
                    <div class="mb-3">{{ form_row(formUser.prenom) }}</div>
                    <div class="mb-3">{{ form_row(formUser.nom) }}</div>
                </div>
                <div class="col">
                    <div class="mb-3">{{ form_row(formUser.telephone) }}</div>
                    <div class="mb-3">{{ form_row(formUser.email) }}</div>
                    <div class="mb-3">{{ form_row(formUser.campus) }}</div>
                </div>
            </div>
            <div class="mb-3 text-center">
                <a href="{{ url('user_modify') }}" class="btn btn-outline-success">Modifier Profil</a>
                <a href="{{ url('sortie_index') }}" class="btn btn-outline-info mx-4">Retour</a>
            </div>
        </div>

{% endblock %}